{% extends "base.html" %}

{% block content %}
<div class="card text-center">
  <div class="card-header" style="background-color: #e3f2fd; color: 000034;">
    Classroom Details
  </div>
  <div class="card-body">
    <h5 class="card-title" style="color: 000034;">{{classroom.name}} {{classroom.subject}}</h5>
    <p class="card-text" style="color: 000034;">{{classroom.year}}</p>
    {% for student in students %}
    <div>
      <p>{{student.name}}</p>
      <p>{{student.dob}}</p>
      <p>{{student.exam_grade}}</p>
    </div>
    {% endfor %}
    <a href="{% url 'classroom-update' classroom.id %}" class="btn" style="background-color: #000034; color: white;">Update</a>
    <a href="{% url 'classroom-delete' classroom.id %}" class="btn" style="background-color: #FFA500; color: #000034;">Delete</a>
    <a href="{% url 'student-create' classroom.id %}" class="btn" style="background-color: #FFA500; color: #000034;">ADD</a>
   {%  if request.user  ==  classroom.teacher %}
   <div class="col-md-4">
                <a href="{% url 'restaurant-update' restaurant.id %}" class="btn btn-outline-primary btn-block">Update student</a>
            </div>
        <div class="col-md-4">
            <a href="{% url 'item-create' restaurant.id %}" class="btn btn-outline-success btn-block">delete student</a>
        </div>
          {% endif %}
  </div>
</div>

{% endblock content %}
